[project]
	description = startup game for windows 7 phone - NOT PUBLIC use - copy is ILLEGAL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Johnny Serup (serup)
[access "refs/for/refs/*"]
	read = group user/Johnny Serup (serup)
	push = group user/Johnny Serup (serup)
	label-Code-Review = -2..+2 group user/Johnny Serup (serup)
	label-Verified = -1..+1 group user/Johnny Serup (serup)
	rebase = group user/Johnny Serup (serup)
	removeReviewer = group user/Johnny Serup (serup)
	submit = group user/Johnny Serup (serup)
[access "refs/heads/*"]
	read = group user/Johnny Serup (serup)
	create = group user/Johnny Serup (serup)
	push = +force group user/Johnny Serup (serup)
	pushMerge = group user/Johnny Serup (serup)
[access "refs/tags/*"]
	push = +force group user/Johnny Serup (serup)
	pushTag = group user/Johnny Serup (serup)
	pushSignedTag = group user/Johnny Serup (serup)
